# This action use https://github.com/wow-actions/add-badges?tab=readme-ov-file to add badges to your README.md file.
# The badges are added between the comments <!-- [START BADGES] --> and <!-- [END BADGES] --> in the README.md file.
# Make sure these comments are present in your README.md file.
# IMPORTANT: Make sure to add "write and read" permission for "Contents" in the workflow file to allow this action to update the README.md file.
name: Add Badges

on:
  # we are using workflow_run to trigger the workflow
  # because we want to run this workflow only when the Approve PR and delete branch workflow is completed
  # GitHub prevents workflows from running on events that were caused by other workflows to prevent unlimited recursion
  # so we do not use the release event
  # issue: https://github.com/orgs/community/discussions/25281
  # see: https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflow_run
  workflow_run:
    # the workflow we want to trigger this workflow (see .github/workflows/automerge.yml)
    workflows: [Release & Publish]
    types: [completed]

jobs:
  run:
    # Run this job only if the previous workflow was successful
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: wow-actions/add-badges@v1
        env:
          repo_url: ${{ github.event.repository.html_url }}
          repo_name: ${{ github.event.repository.name }}
          repo_owner: ${{ github.event.repository.owner.login }}
        with:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          # Define the badges to add to the README.md file
          # It uses shields.io and GitHub Actions badges
          badges: |
            [
              {
                "badge": "https://img.shields.io/npm/v/${{ env.repo_name }}?style=flat-square",
                "alt": "NPM Version",
                "link": "https://www.npmjs.com/package/${{ env.repo_name }}"
              }
            ]